body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    background-color: rgb(12, 107, 145);
}

h1 {
    color: #333;
}

#clock {
    font-size: 24px;
    margin-bottom: 20px;
}

input, button, select {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background-color: #ce0f0f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #882121;
}

#remaining-time {
    font-size: 32px;
    font-weight: bold;
    color: #ff4500;
}

#sound-options {
    margin-top: 20px;
}
