persona {
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
    width: 300px;
    text-align: left;
}
nombre {
    font-size: 22px;
}
departamento {
    font-size: 16px;
    padding-top: 20px;
    display: block;
    font-weight: bold;
}
modulos {
    font-size: 16px;
    padding-top: 20px;
    font-style: italic;
    padding-left: 5px;
}